<h1>Create Page</h1>

<form action="/pages" method="post">
  <input type="text" name="page[title]">
  <input type="text" name="page[body]">
  <button type="submit" name="button">Submit</button>
</form>
